* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  box-shadow: 3px 3px #FBC800;
}

.title {
  background: rgb(54,71,125);
  background: radial-gradient(circle, rgba(54,71,125,1) 0%, rgba(141,33,200,1) 82%);
  color: white;
  border-radius: 4px;
}

.input-group-text{
  background-color: #A970FF;
  box-shadow: -2px 2px #FBC800;
  color: white;
  font-weight: 600;
}

.form-body .form-control:focus {
  border-color: #A970FF;
  box-shadow: 0 0 0 0.25rem rgba(141,33,200,0.6);
}

.age select{
  border-radius: 4px;
  padding: 4px;
  border-color: lightgray;
  background-color: #A970FF;
  box-shadow: -2px 2px #FBC800;
  color: white;
  font-weight: 600;
}

.age select option {
  font-weight: 600;
}

#btn-calc,
#btn-reset {
  border: 1px solid lightgray;
  padding:3px 20px;
  background-color: #A970FF;
  color: white;
  font-weight: 600;
  box-shadow: -2px 2px #FBC800;
}

